.posts {
  padding: 60px 0;
}

.posts .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /*grid-gap: 40px;*/
  row-gap: 0;
  column-gap: 40px;
  /*align-items: center;*/
}

.posts .grid__item {
  display: flex;
  max-height: 120px;
  overflow: hidden;
  position: relative;
}
.posts .grid__item a {
  margin-right: 20px;
}
.posts .grid__item img {
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  object-fit: cover;

  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  border-radius: var(--radius);

  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.posts .grid__item .grid__infs a.category {
  display: inline-block;
  padding: 0;

  color: var(--color-first);
  font-size: var(--font-normal);
  font-weight: 600;
  border-bottom: 1px solid;
  text-decoration: none;

  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}

.posts .grid__item .grid__infs a.category:hover {
  color: var(--black);
}
.posts .grid__item .grid__infs h2 {
  margin: 8px 0;
  height: 50px;
  overflow: hidden;
}
.posts .grid__item .grid__infs h2 a {
  display: revert;
  font-size: var(--font-smaller);
  font-weight: 700;
  line-height: 25px;
  color: var(--black);
  text-decoration: none;

  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;

  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}

.posts .grid__item .grid__infs h2 a:hover {
  background-image: linear-gradient(to bottom, #0A0A0A 0%, #0A0A0A 100%);
  background-size: 100% 1px;
}
.posts .grid__item .grid__infs span.date {
  font-size: var(--font-normal);
  text-transform: capitalize;
  color: #777777;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.posts .grid__item .grid__infs span.date:hover {
  color: var(--black);
}
.posts .grid__item .grid__infs svg {
  margin-right: 5px;
  position: relative;
  top: 2px
}

.posts .grid__item:nth-of-type(1) {
  /*margin-right: 50px;*/
  margin-bottom: 50px;
  max-height: 580px;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.posts .grid__item:nth-of-type(1) .featured {
  margin-right: 0;
}
.posts .grid__item:nth-of-type(1) .featured:before {
  background: transparent;
  background: linear-gradient(transparent, #000000), linear-gradient(transparent, #000000);
  background: -moz-linear-gradient(transparent, #000000), -moz-linear-gradient(transparent, #000000);
  background: -o-linear-gradient(transparent, #000000), -o-linear-gradient(transparent, #000000);
  content: "";
  height: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.posts .grid__item:nth-of-type(1) .grid__infs {
  position: absolute;
  bottom: 0;
  /* left: 50px; */
  padding: 50px 50px 20px 50px;
  width: 100%;
  z-index: 99;
}
.posts .grid__item:nth-of-type(1) .grid__infs a.category {
  background-color: var(--black);
  color: var(--white);
  padding: 7px 14px 3px 14px;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  border-radius: var(--radius);
}
.posts .grid__item:nth-of-type(1) .grid__infs h2 {
  height: auto;
  margin: 20px 0;
}
.posts .grid__item:nth-of-type(1) .grid__infs h2 a {
  font-size: var(--font-big);
  color: var(--white);
  line-height: 48px;
}
.posts .grid__item:nth-of-type(1) .grid__infs p {
  font-size: var(--font-normal);
  text-transform: capitalize;
}
.posts .grid__item:nth-of-type(1) .grid__infs p a.infs__item svg {
  margin-right: 8px;
}
.posts .grid__item:nth-of-type(1) .grid__infs p a.infs__item {
  margin-right: 40px;
  color: var(--white);
  text-decoration: none;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}
.posts .grid__item:nth-of-type(1) .grid__infs p a.infs__item:hover {
  text-decoration: underline;
}
.posts .grid__item:nth-of-type(1) img {
  max-width: 100%;
  width: 1200px;
  height: 580px;
  object-fit: cover;
  margin-right: 0;
  box-shadow: none;
  border-radius: 0 !important;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}

.posts .grid__item:nth-of-type(1):hover img {
  -webkit-transform: var(--scale);
  -moz-transform: var(--scale);
  transform: var(--scale);
}

.posts .grid__item:nth-of-type(1) { grid-area: 1 / 1 / 4 / 5; }
.posts .grid__item:nth-of-type(2) { grid-area: 1 / 5 / 2 / 7; }
.posts .grid__item:nth-of-type(3) { grid-area: 2 / 5 / 3 / 7; }
.posts .grid__item:nth-of-type(4) { grid-area: 3 / 5 / 4 / 7; }
.posts .grid__item:nth-of-type(5) { grid-area: 4 / 1 / 5 / 3; }
.posts .grid__item:nth-of-type(6) { grid-area: 4 / 3 / 5 / 5; }
.posts .grid__item:nth-of-type(7) { grid-area: 4 / 5 / 5 / 7; }
.posts .grid__item:nth-of-type(8) { grid-area: 5 / 1 / 6 / 3; }
.posts .grid__item:nth-of-type(9) { grid-area: 5 / 3 / 6 / 5; }
.posts .grid__item:nth-of-type(10) { grid-area: 5 / 5 / 6 / 7; }


@media (max-width: 75em) {
  .posts .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .posts .grid__item:nth-of-type(1) { grid-area: 1 / 1 / 4 / 7; }
  .posts .grid__item:nth-of-type(2) { grid-area: 4 / 1 / 5 / 3; }
  .posts .grid__item:nth-of-type(3) { grid-area: 4 / 3 / 5 / 5; }
  .posts .grid__item:nth-of-type(4) { grid-area: 4 / 5 / 5 / 7; }
  .posts .grid__item:nth-of-type(5) { grid-area: 5 / 1 / 6 / 3; }
  .posts .grid__item:nth-of-type(6) { grid-area: 5 / 3 / 6 / 5; }
  .posts .grid__item:nth-of-type(7) { grid-area: 5 / 5 / 6 / 7; }
  .posts .grid__item:nth-of-type(8) { grid-area: 6 / 1 / 7 / 3; }
  .posts .grid__item:nth-of-type(9) { grid-area: 6 / 3 / 7 / 5; }
  .posts .grid__item:nth-of-type(10) { grid-area: 6 / 5 / 7 / 7; }
}

@media (max-width: 49em) {
  .posts .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  .posts .grid__item:nth-of-type(1) { grid-area: 1 / 1 / 4 / 7; }
  .posts .grid__item:nth-of-type(2) { grid-area: 4 / 1 / 5 / 7; }
  .posts .grid__item:nth-of-type(3) { grid-area: 5 / 1 / 6 / 7; }
  .posts .grid__item:nth-of-type(4) { grid-area: 6 / 1 / 7 / 7; }
  .posts .grid__item:nth-of-type(5) { grid-area: 7 / 1 / 8 / 7; }
  .posts .grid__item:nth-of-type(6) { grid-area: 8 / 1 / 9 / 7; }
  .posts .grid__item:nth-of-type(7) { grid-area: 9 / 1 / 10 / 7; }
  .posts .grid__item:nth-of-type(8) { grid-area: 10 / 1 / 11 / 7; }
  .posts .grid__item:nth-of-type(9) { grid-area: 11 / 1 / 12 / 7; }
  .posts .grid__item:nth-of-type(10) { grid-area: 12 / 1 / 13 / 7; }
}